* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f7f7f7;
  padding: 40px 0;
  /* background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1000% 1000%;
  animation: rainbow 10s ease infinite; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main, 
.home {
  display: grid;
  grid-column-gap: 40px;
  grid-row-gap: 60px;
  padding-bottom: 4px;
  max-width: 1290px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  grid-template-columns: repeat(2,1fr);
}


@media (max-width: 980px) {
  .main {
    grid-template-columns: repeat(1,1fr);
    grid-row-gap: 0px;
  }
}


@media (max-width: 700px) {
  .home .content div {
    display: none;
  }
}

@media (max-width: 520px) {
  .home {
    grid-template-columns: repeat(1,1fr);
  }
}

.secondary {
  display: grid;
  grid-column-gap: 40px;
  grid-row-gap: 60px;
  padding-bottom: 4px;
  max-width: 1290px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  grid-template-columns: repeat(3,1fr);
}

@media (max-width: 980px) {
  .secondary {
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width: 520px) {
  .secondary {
    grid-template-columns: repeat(1,1fr);
  }
}

.wrapper {
  padding: 20px;
  max-width: 1100px;
  margin: 0 auto;
}

article {
  position: relative;
  padding-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 1px 1px 6px 0 #e4e4e4;
  transition: box-shadow .2s linear;
  width: 100%;
  will-change: box-shadow;
}

article:hover {
  box-shadow: 2px 2px 10px 0 rgb(69 69 69 / 30%);
}

article figure {
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  position: relative;
  margin: 0;
}

article figure.col3 {
  padding-bottom: 51%;
}
article figure.coldetail {
  padding-bottom: 55%;
}

article.detail {
  max-width: 700px;
  margin: 0 auto;
}

article figure img {
  opacity: 1;
  visibility: visible;
  width: 100%;
}

article a {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    height: 100%;
    align-content: normal;
    padding-left: calc(100% - 95px);
    align-items: flex-end;
    line-height: 3;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

article .content {
  padding: 20px;
}

.navigation a {
    padding: 10px;
    background:#f7f7f7;
    border: 1px solid #000000;
    z-index: 99;
    position: fixed;
    right: 0;
    top: 0;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 20px;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 1px 1px 6px 0 #e4e4e4;
    transition: box-shadow .2s linear;
}

.navigation a:hover {
  box-shadow: 2px 2px 10px 0 rgb(69 69 69 / 30%);
}

/* @keyframes rainbow { 
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
} */